@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #016D9C;
// Add pink and its invert

// Update the sans-serif font family
$family-sans-serif:"neue-haas-unica", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;


// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
